<div class="container-fluid">
    <div class="container">
        <div class="hero-home">
            <h2 class="m-h4">{{section.settings.title}}</h2>
            <p class="b-18-r m-b-16-r">{{section.settings.text}}</p>
        </div>
    </div>
</div>

{% schema %}
    {
    "name": "Hero Home",
    "settings": [
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      }
    ],
      "presets": [
      {
        "category": "Hero Home",
        "name": "Hero Home",
        "settings": {}
      }
    ]
  }
{% endschema %}
  