<div class="container-fluid">
    <div class="container">
        <div class="hero-text-image">
            <div class="hero-text-block">
                <h1 class="m-h3">{{section.settings.title}}</h1>
                <p class="b-18-r m-b16-r">{{section.settings.text}}</p>
            </div>
            <div class="hero-image-block">
                <img src="{{section.settings.img | img_url: 'master'}}">
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
    "name": "Hero Text Image",
    "settings": [
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "image_picker",
        "id": "img",
        "label": "Omage"
      }
    ],
      "presets": [
      {
        "category": "Hero Text Image",
        "name": "Hero Text Image",
        "settings": {}
      }
    ]
  }
{% endschema %}
  